html, body {
    height: 100%;
    font-family: Garamond;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-size: 24px;
    line-height: 1.6;
    background-color: rgb(231, 229, 229);
    color: rgb(255, 255, 255);
    font-family: Garamond;
}

header {
    background-color: #c0bfbf;
    padding: 5px 0;
}

nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color:rgb(0, 0, 0);
    font-weight: 200;
    font-family: Garamond;
    margin-left: -150px;
}

.menu > li, .menu > a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 1px 20px;
    margin: 8px;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover {
    /*background-color: rgb(221, 208, 208);*/
    color:rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.submenu {
    position: absolute;
    background-color: #c0bfbf;
    width: 170px;
    left: 0;
    display: none;
    border-radius: 5px;
    border: 5px transparent;
}

.submenu2 {
    position: absolute;
    left: 100%;
    width: 170px;
    top: 0;
    background-color: #c0bfbf;
    display: none;
    border-radius: 5px;
    
}

.menu li:hover > .submenu {
    display: block;
    animation: slideup .3s ease;
}

.menu li:hover > .submenu2 {
    display: block;
    animation: slideleft .3s ease;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.btn {
    position: absolute;
}

.btn a {
    padding: 4px 20px;
    margin: 0, 0, 10px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    overflow: hidden; /* skryje čiary, ktoré vychádzajú z rámika*/
    transition: 0.1s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}

.btn a:nth-child(1) {
    filter: hue-rotate(115deg);
}
.btn a:nth-child(3) {
    filter: hue-rotate(270deg);
}

.btn a:hover {
    background: #949494;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 50px #000000;
    transition-delay: 0.4s;
    border: none;
}

.btn a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.btn a:hover:before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btn a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.btn a:hover:after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btn a:last-child{
    border: none;
}


/* tu začína hlavná časť stránky */
.container {
    background-color: #000;
    display: inline-block;
    font-family: Garamond;
    font-size: 16px;
    margin-left: 350px;
    margin-top: 50px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}

  .container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.container h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.container:before,
.container:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #000000;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.container:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.container:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.container img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.container figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.container a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.container:hover > img,
.container.hover > img {
    opacity: 0.5;
}

.container:hover:before,
.container.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.container:hover:after,
.container.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.container:hover figcaption,
.container.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.body-text {
    width: 40%;
    margin-left: 750px;
    margin-top: 70px;
    background-color: rgb(231, 229, 229);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hlavny_text h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hlavny_text h2 {
    color: black;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.hlavny_text p {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: start;
}

/* časť je kde mapa */

.mapa {
    text-align: center;
    padding: 85px;
    padding-bottom: 50px;
}

.mapa img {
    width: 1400px;
    padding: 25px;
    
}

/* toto je časť kde je footer stránky */


footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c0bfbf;
    height: auto;
    width: 99vw;
    font-family: Garamond;
    padding-top: 40px;
    color:rgb(0, 0, 0);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 40px;
    font-family: Charm;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 20px 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.socials a i {
    font-size: 2.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: rgb(171, 171, 192);
}

.socials img {
    width: 90px;
}

.footer-bottom {
    background: #c0bfbf;
    width: 99vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


